body {
    position: relative;
    height: 100%;
    font-family: 'Arsenal';
}

.navbar-brand {
  font-family: Prata;
  padding-right: 50px;
}

.nav a {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Julius Sans One';
    padding: 15px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.nav {
    text-align: center;
}

.jumbotron {
    background-image:url(background.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

img {
    text-align: center;
}

.jumbotron h1 {
    color: #3F3D3A;
    font-size: 57px;
    font-family: 'Prata', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #3F3D3A;
    font-family: 'Julius Sans One';
}

.learn-more {
    padding: 20px;
    background-color: #F0F0F0;
}

.learn-more h3 {
    font-family: 'Julius Sans One';
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
}

.learn-more p {
    font-family: 'Arsenal';
    font-size: 20px;
    text-align: inherit;
}

.learn-more a {
    color: #00b0ff;
}

footer {
    text-align: center;
    font-family: 'Julius Sans One';
    color: grey;
}

#desc {
    text-align: left;
    padding: 20px
}

#desc p {
   font-size: 18px;
   padding-bottom: 30px;
    padding-left: 40px;
}

#header {
    color: #CDAB70;
    font-size: 25px
}

#header2 {
    color: #CDAB70;
    font-size: 25px;
    padding-left: 40px;
}

#header3 {
    font-size: 20px;
    padding-left: 40px;
}

#About {
    text-align: center;
    padding-bottom: 30px;
}

.Experience {
    padding-bottom: 40px;
}

.Skills {
    text-align: center;
    padding-bottom: 40px;
    overflow: hidden;
}

.boxes {
  display: inline-block;
  width: 80%
}

.box {
  text-align: center;
  background-image:url(background.jpg);
  border-radius: 10px;
  padding: 10px;
  border: 0.5px solid #99A3A4;
  font-size: 17px;
  width: 90px;
  display: inline-block;
  margin: 10px;
  box-shadow: 4px 4px 5px #CCD1D1;
  opacity: 0.7;
}

.box:hover {
  opacity: 1;
  box-shadow: 8px 8px 8px #CCD1D1;
  border: 0.5px solid #C9CFCF;
  font-weight: bold;
}

#skills {
    text-align: right;
    padding-right: 80px;
}

.Portfolio {
    text-align: center;
    overflow: hidden;
}

.Contact {
    text-align: center;
    padding-bottom: 30px;
}

.Contact img {
    margin: 10px;
}

.pic {
    float: right;
    width: 200px;
    padding-bottom: 40px;
}

#abt {
    padding-left: 30px;
    padding-top: 10px;
}

hr {
    display: block;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.5px solid #ABB2B9;
    margin-bottom: 50px;
}

.text {
    opacity: 0;
    padding: 0px 50px 20px;
    position: absolute;
    top: 10px;
    font-size: 16px;
  }

  #tetris {
    width: 200px;
  }

  #vjp {
    width: 400px;
  }

  #wapp {
    width: 350px;
  }

.first-image,
.second-image,
.third-image {
    padding-bottom: 30px;
    position: relative;
}

.first-image:hover > .text,
.second-image:hover > .text,
.third-image:hover > .text {
     opacity: 1;
   }

 .hov {
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.first-image:hover > .link, .first-image:hover > .hov,
.second-image:hover > .link, .second-image:hover > .hov,
.third-image:hover > .link, .third-image:hover > .hov {
    opacity: 0.2;
}

h4 {
    font-size: 27px;
    font-family: 'Julius Sans One';
}

.email {
  width: 45px;
}

.lin {
  width: 50px;
}

.fb {
  width: 52px;
}

.github {
  width: 43px;
}

.email:hover,
.lin:hover,
.fb:hover,
.github:hover {
  opacity: 0.5;
}
