body {
    position: relative;
    height: 100%;
    font-family: 'Arsenal';
}

.navbar-brand {
  font-family: Prata;
  padding-right: 50px;
}

.nav a {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Julius Sans One';
    padding: 15px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.nav {
    text-align: center;
}

.jumbotron {
    background-image:url(background.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

img {
    text-align: center;
}

.jumbotron h1 {
    color: #3F3D3A;
    font-size: 57px;
    font-family: 'Prata', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #3F3D3A;
    font-family: 'Julius Sans One';
}

.learn-more {
    padding: 20px;
    background-color: #F0F0F0;
}

.learn-more h3 {
    font-family: 'Julius Sans One';
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
}

.learn-more p {
    font-family: 'Arsenal';
    font-size: 20px;
    text-align: inherit;
}

.learn-more a {
    color: #00b0ff;
}

footer {
    text-align: center;
    font-family: 'Julius Sans One';
    color: grey;
}

#desc {
    text-align: left;
    padding: 20px
}

#desc p {
   font-size: 18px;
   padding-bottom: 30px;
    padding-left: 40px;
}

#header {
    color: #CDAB70;
    font-size: 25px
}

#header2 {
    color: #CDAB70;
    font-size: 25px;
    padding-left: 40px;
}

#header3 {
    font-size: 20px;
    padding-left: 40px;
}

#About {
    text-align: center;
    padding-bottom: 30px;
}

.Experience {
    padding-bottom: 40px;
}

.Skills {
    text-align: center;
    padding-bottom: 40px;
    overflow: hidden;
}

.boxes {
  display: inline-block;
  width: 80%
}

.box {
  text-align: center;
  Background-color: #fcf6e8;
  border-radius: 10px;
  padding: 10px;
  border: 0.5px solid black;
  font-size: 17px;
  width: 90px;
  display: inline-block;
  margin: 10px;
}

#tetris,
#design {
  width: 300px;
}

#vjp {
  width: 500px;
}

#txt2,
#txt3 {
  padding-left: 35px;
}

#txt3 {
  padding-right: 40px;
}

#skills {
    text-align: right;
    padding-right: 80px;
}

.Portfolio {
    text-align: center;
    overflow: hidden;
}

.Contact {
    text-align: center;
    padding-bottom: 30px;
}

.Contact img {
    margin: 10px;
}

.pic {
    float: right;
    width: 200px;
    padding-bottom: 40px;
}

#abt {
    padding-left: 30px;
    padding-top: 10px;
}

hr {
    display: block;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.5px solid #ABB2B9;
    margin-bottom: 50px;
}

.text {
    opacity: 0;
    padding-bottom: 20px;
    position: absolute;
    top: 100px;
    font-size: 16px;
  }

.first-image {
    padding-bottom: 30px;
    display: inline-block;
}

.first-image:hover > .text {
     opacity: 1;
   }

 .hov {
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.first-image:hover > .link, .first-image:hover > .hov {
    opacity: 0.2;
}

.hov:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

div[class^=circle] {
    background:#bfbfbf;
    border-radius:100%;
    display:inline-block;
    height:20px;
    width:20px;
    overflow:hidden;
    position:relative;
}
div[class^=circle]:after {
    content:'';
    position:absolute;
    display:block;
    height:100%;
    left:0;
    background:#CDAB70;
}

div.circle50:after {
    width:50%;
}

div.circle100:after {
    width:100%;
}

div.circle0:after {
    width:0%;
}

#circles {
    text-align: left;
    padding-left: 80px;
}

h4 {
    font-size: 27px;
    font-family: 'Julius Sans One';
}

.email {
  width: 45px;
}

.lin {
  width: 50px;
}

.fb {
  width: 52px;
}

.github {
  width: 43px;
}

.email:hover,
.lin:hover,
.fb:hover,
.github:hover {
  opacity: 0.5;
}
